
body {
    padding: 80px 100px;
    font: 18px, roboto;
}

.sectionheader {
width: max-content;
height: 800px;
}

h1 {
    font-family: roboto;
    font-size: 48px;
    color: #2DBE60;
}

.album_title {
    font-size: 48px;
    font-weight:800;
    color: black;
}

.search-the-crate {
    font-family: Helvetica;
    color: firebrick;
    border-radius: 60px;
    border: none;
    margin: auto;
    padding: 10px 50px;
    cursor: pointer;
}

#artistname {
    font-size: 24px;
    font-style: italic;
}

img {
    width: 150px;
    height: 150px;
}